# Python 3.13.1+ required
# All packages below are tested with Python 3.13.1

pandas
numpy
scikit-learn
networkx
matplotlib
seaborn
pyarrow
fastparquet
ijson
dask[complete]
xgboost
nltk
spacy
jupyter
tqdm
